.progressBar {
  width: 100%;
  background-color: rgb(55, 65, 81); /* bg-gray-700 */
  border-radius: 9999px;
  height: 0.5rem;
}

.progressBarFill {
  background-color: rgb(79, 70, 229); /* bg-indigo-600 */
  height: 0.5rem;
  border-radius: 9999px;
  transition: width 0.3s ease;
} 